* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(rgba(255, 255, 255, 0.25),rgba(255, 255, 255, 0.25)), url('/media/bg.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Gubia, Impact, sans-serif ;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    overflow-y: scroll;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

h2,h3{
    padding: 0 20px;
    text-align: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.25),rgba(255, 255, 255, 0.25)), url('/media/bg.png') no-repeat center center fixed;
    background-size: cover;
}
.help{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    background-color: #103269;
    z-index: 12;
    width: 100%;
}
.help ol {
    list-style: decimal;
    padding: 10px 30px 10px 30px;
}
.help li {
    margin-bottom: 5px;
}
.close{
    display: flex;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.close-line{
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background: white;
}
.close-line:first-child{
    transform: rotate(45deg);
}
.close-line:last-child{
    transform: rotate(-45deg);
}
form{
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-gap: 5px ;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    text-shadow:
            -2px -2px 3px #000000,
            2px 2px 3px #000000
}

select,input {
    width: 100%;
}

input{
    background: transparent;
    background-image: linear-gradient(to bottom, #fff 0%, transparent 100%);
    padding: 2px 5px;
    outline: none;
    border: none;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 5px;
    font-weight: bold;
}

main{
    padding-top: 160px;
}

.container{
    width: 95%;
    max-width: 1140px;
    margin: auto;
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: #103269 url('/media/bg.png') no-repeat center / cover fixed;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-block{
    position: relative;
    width: 160vh;
    max-height: 90vh;
    max-height: min-content;
    max-width: 80%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}
.preload{
    width: 100%;
    display: none;

}

.logo {
    grid-row: span 2;
    grid-column: span 2;
    width: 80%;
    object-fit: contain;
    margin: auto;
    height: 80px;
}

.group  {
    width: 100%;
}

.group--first{
    order: -1;
}

.reset, .question {
    margin: auto;
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
}

.cards:empty:after {
    content: 'Heroes not found. Please, try another combination of filters.';
    margin: 15px 0 0 0;
    font-size: 24px;
    margin: 15px 0 0 0;
    font-size: 28px;
    font-weight: bold;
    text-shadow: -2px -2px 3px #000000, 2px 2px 3px #000000;
}

.card{
    perspective: 1200px;
    margin-bottom: 20px;
}

.card-flipper {
    position: relative;
    width: 500px;
    height: 375px;
    transform-style: preserve-3d;
    transition: 0.5s linear;
}

.card-front, .card-back{
    display: flex;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.card-front {
    position: absolute;
    z-index: 2;
    transform: rotateY(0deg);
    background: white;
}

.card-back {
    position: relative;
    z-index: 2;
    transform: rotateY(-180deg);
    background: #DCB8B2;
}

.card-photo{
    position: relative;
    width:  50%;
}

.card-back .card-photo, .card:nth-child(2n+1) .card-photo{
    order: 1;
}
.card:nth-child(2n+1) .card-back .card-photo {
    order: 0;
}
.card-block{
    width:  50%;
    background: #3737E6 url("/media/back.png");
    color: white;
    padding: 16px;
}

.card-dark .card-block {
    background-color: #3737E6 ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.50),rgba(0, 0, 0, 0.50)),url("/media/back.png");


}

.card-name{
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100%;
    text-align: center;
    color: aliceblue;
    z-index: 1;
    text-shadow:
            -2px -2px 3px #000000,
            2px 2px 3px #000000
}

.click-icon, .card:nth-child(2n+1) .card-back .click-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 31px;
    z-index: 3;
    transform: rotateY(0deg);
}

.card-back .click-icon, .card:nth-child(2n+1) .click-icon {
    right: 8px;
    left: auto;
    transform: rotateY(180deg);
}
.card-content {
    padding: 0 20px;
}

.card-hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
column-gap: 3px;

}

.card-back .card-image {
    transform: rotateY(180deg);
}

.card-text {
    /*padding: 0 10px 5px;*/
    display: block;
    /*border: 1px solid red;*/
}

.card-prop{
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
}
.card-name{
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
}

.card-value{
    font-weight: bold;
    font-size: 20px;
}
.card-movie {
    display: flex;
    flex-direction: column;
}
.card-movie *{
    margin-bottom: 10px;
}
.card-movie ul {
    margin-bottom: 0;
    overflow-y: auto;
}
.card-movie li {
    margin-bottom: 5px;
}
select{
    display: block;
    padding: 2px 0;
outline: none;
    border: none;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),  linear-gradient(to bottom, #fff 0%, transparent 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    font-weight: bold;
    color: black;
}
select::-ms-expand { display: none; }
option {
    background: #60cbff;

}
.info {
    position: absolute;
    text-align: center;
    bottom: 3%;
    width: 100%;
}
.skip{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    display: none;
}
.skip:hover{
    text-decoration: underline;

}
.preloader {
    margin-top: 3px;
    margin: auto;
    text-align: center;

}

.pl-child {
    width: 40px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    animation: preloader 1.4s ease-in-out 0s infinite both;
}

.pl-child-1 {
    animation-delay: -0.32s;
}

.pl-child-2 {
    animation-delay: -0.16s;
}

@keyframes preloader {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.0);
    }
}
select option { font-weight:normal; }

@media screen and (max-width: 576px) {
    .pl-child {
        width: 20px;
        height: 8px;
    }
    .skip {
        font-size: 16px;

    }
}
.dropdown {
    max-height: calc(100vh - 250px);
    min-height: 60px;
    overflow-y: auto;

    width: 100%;
    position: absolute;
    top: 100%;
    list-style: none;
    display: none;

    color: black;
    font-weight: bold;
}
.dropdown-item{
    cursor: pointer;
    user-select: none;
    min-height: 20px;
    background-color: #60cbff;
    padding-left: 5px;

}
.dropdown-item:hover{

    background-color: #0078d7;
    color: white;


}
.dropdown-block{
    position: relative;
}

.clear{
    visibility: hidden;
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.clear-line{
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background: #007cb2;
}
.clear-line:first-child{
    transform: rotate(45deg);
}
.clear-line:last-child{
    transform: rotate(-45deg);
}

@media screen and (max-width: 576px) , screen and (max-height: 420px){
    .card-flipper{
        width: 250px;
        height: 190px;
    }
    .card-block{
        padding: 10px;
    }
.card-name{
    font-size: 14px;
}
.card-prop, .card-value{
    font-size: 12px;
    font-weight: bold;
}
    .card-movie * {
        margin-bottom: 4px;}
    .card-movie li {
        margin-bottom: 4px}
    .card:nth-child(1n) .card-back .click-icon, .card .click-icon{
    width: 16px;
}
    .reset, .question{
        height: 16px;
    }
    label, select, input {
        font-size: 12px;
    }
    form{
        grid-gap: 2px;
        padding: 4px 0;
    }
    main{
        padding-top: 125px;
    }
}

